h1 {
  color: red;
  font-size: 70px;
}

h3 {
  font-size: 40px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  /* background-image: url("./big-yoshi-wallpaper.png");
  background-size: cover; */
  font-family: "Comic Sans";
}

img {
  width: 500px;
}

.presentation p {
  font-size: 40px;
  font-weight: 700;
  color: white;
}

.presentation {
  display: flex;
  flex: auto;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
}