body {
	background-image: url("img/big-yoshi-wallpaper.png");
	background-size:cover;
	font-family: "Comic Sans";
	margin: 0;
	height: 100%;
	overflow: hidden;
}

.window {
	margin: 32px;
	position: absolute;
}

#presentation-window
{
	width: 50vh;
	top: 100px;
}


#presentation-window .window-body
{
	width: 100%;
}

.presentation-article
{
	height: 100%;
	width:  90%;

}	
.presentation-article img
{
	max-height: fit-content;
	object-fit: contain;
	width: 100%;
	max-height: 500px;
}

#article-window-1
{
	width: 40vw;
	top: 10%;
	left: 50%;
	font-size: 15px;
}

.field-row-stacked {
	width: 200px;
}

textarea {
	resize: none;
}
form div {
	padding: 6px 0;
}
#form-buttons {
	justify-content: flex-end;
	display: none;
}

.left {
	width: 45%;
}
.right {
	width: 55%;
}

.left .window {
	width: 80%;
}

footer {
	z-index: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
footer .title-bar
{
	z-index: 0;

}
#main-footer-tab {
	border-top-left-radius: 8px;
	padding: 5px 5px 3px 3px;
	width: 100px;
	height: 100%;
	background-color: green;
	z-index: 1;
	margin-left: -4px;
	color:white;
	font-size: 18px;
}

#delete-button {
	position: absolute;
	bottom: 10%;
	left: 30%;
	width: 170px;
	height: 170px;
	border-radius: 50%;
	background: red;
	color: white;
	font-size: 22px;
	font-weight:900;
}

#delete-button:not(:disabled).active,
#delete-button:not(:disabled):active {
	background: rgb(173, 0, 0);
}